<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./style.css">

</head>
<body>
  <div class="jumbotron" id="navcolor">
      <h1 class="display-4 text-center">My Team</h1>
  </div>
<div class="container">

<div class="row">
  <div class="col-4">
  <div class="card text-white mb-3" style="max-width: 18rem;">
    <div class="card-header bg-primary">
      <h4>Jamie</h4>
      <h4>Manager</h4>
    </div>
    <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">ID: 01</li>
      <li class="list-group-item">Email: gmail</li>
      <li class="list-group-item">Office #: 123</li>
    </ul>
    </div>
  </div>
  </div>

  <div class="col-4">
  <div class="card text-white mb-3" style="max-width: 18rem;">
    <div class="card-header bg-primary">
      <h4>Jam</h4>
      <h4>Engineer</h4>
    </div>
    <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">ID: 02</li>
      <li class="list-group-item">Email: yahoo</li>
      <li class="list-group-item">GitHub: github</li>
    </ul>
    </div>
  </div>
  </div>
</div>


</div>

</body>
</html>
